* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

body {
    background: #c8f0cd;
    height: 95vh;
}

.main-container {
    width: 90%;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 30px auto;
    background-color: #ffffff;
}

h4 {
    padding: 20px 0;
    text-align: center;
    font-variant: small-caps;
}

.container {
    display: flex;
}

.box1 {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    flex-basis: 35%;
}

.box2 {
    justify-content: space-between;
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
}

.top-container {
    display: flex;
}

.image {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.image img {
    object-fit: cover;
    border: 3px solid green;
    margin-right: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.image button,
.bottom-container button {
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 70px;
    background-color: #066b06;
    padding: 12px 0;
}

input,
select,
textarea {
    padding: 10px 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #00000085;
    margin-bottom: 5px;
}

p {
    visibility: hidden;
    color: red;
    font-size: 13px;
}

.top-container .input-container {
    width: 50%;
}

.input-container div {
    margin-bottom: 15px;
    margin-right: 10px;
}

.bottom-container button:last-child {
    background-color: gray;
    color: rgb(255, 255, 255);
    margin: 0 10px;
}

.bottom-container {
    text-align: end;
}

.user-details {
    width: 90%;
    margin: 5px auto;
    padding: 30px 0;
}

td,
th {
    font-size: 15px;
    margin: 5px;
    background-color: white;
    padding: 5px;
    text-align: center;
}
th{
    font-variant: small-caps;
    font-weight: lighter;
    padding: 10px 0;
}

.displayImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid green;
}

#tableTag {
    visibility: hidden;
    background-color: transparent;
    width: 100%;
}

.delBtn {
    padding: 10px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(128, 0, 0);
}

#user-image {
    color: transparent;
    border: none;
    width: 100px;
    margin-bottom: 5px;
    padding: 8px 0;
    outline: none;
}

#user-image::-webkit-file-upload-button {
    visibility: hidden;
    outline: none;
}

#user-image::before {
    content: "Upload *";
    color: white;
    border-radius: 5px;
    background: green;
    padding: 10px 20px;
    cursor: pointer;
}

.editBtn {
    padding: 10px;
    cursor: pointer;
    color: white;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    background-color: green;
}

button:disabled {
    cursor: not-allowed;
}

#no-table-found {
    display: block;
}


@media screen and (max-width:768px) {
    body {
        background-size: 200%;
        background: #f5b375;
    }

    h4 {
        font-weight: bolder;
        font-size: 1.5rem;
        margin-bottom: 30px;
        border: 2px solid black;
        border-radius: 10px;
        padding: 10px;
    }

    input,
    select,
    textarea {
        padding: 12px 15px;
        width: 100%;
    }

    .main-container {
        width: 100%;
        margin: 0px;
        background: transparent;
        box-shadow: none;
    }

    .container {
        display: block;
    }

    .displayImg {
        width: 40px;
        height: 40px;
    }

    .delBtn,
    .editBtn {
        padding: 3px 10px;
        margin: 3px auto;
    }

    .top-container {
        flex-direction: column;
    }

    .top-container .input-container {
        width: 100%;
    }

    .box1 {
        margin: 0px;
    }

    .user-details {
        width: 100%;
        overflow: auto;
        text-align: center;
        margin: 0 auto;
        padding: 10px;

    }

    td,
    th {
        font-size: 12px;
    }

    th:first-child {
        border-top-left-radius: 10px;
    }

    th:last-child {
        border-top-right-radius: 10px;
    }

    #tableTag {
        width: 100px;
        background-color: transparent;
    }

    .editBtn ,.delBtn {
        padding: 5px 10px;
        font-size: 10px;
        cursor: pointer;
        margin:  5px auto;
        border: none;
        border-radius: 5px;
    }

}